<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Saved Tracks</title>
</head>
<body>
    <h1>User Saved Tracks</h1>
    {% if track_data %}
        <ul>
            {% for track in track_data %}
                <li>{{ track.name }} - Artist: {{ track.artist_name }} (ID: {{ track.id }}, Artist ID: {{ track.artist_id }})</li>
                <p>Genres: {{ genre_data[loop.index0] }}</p>
            {% endfor %}
        </ul>
        <form action="{{ url_for('generalize') }}" method="get">
            <button type="submit">Generalize Genres?</button>
        </form>
    {% else %}
        <p>No tracks found.</p>
    {% endif %}
</body>
</html>
