<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make Playlists</title>
</head>
<body>
    <h1>Playlists Created</h1>
    {% if playlists %}
        <ul>
            {% for genre, playlist in playlists %}
                <li>
                    <strong>{{ genre }}</strong> - {{ playlist|length }} tracks
                    <ul>
                        {% for song_name in playlist %}
                            <li>{{ song_name }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No playlists created.</p>
    {% endif %}

    <h1>Uncategorized Songs</h1>
    {% if uncategorizable_songs %}
        <ul>
            <li>
                <strong>Uncategorized Songs</strong> - {{ uncategorizable_songs|length }} tracks
                <ul>
                    {% for song_name in uncategorizable_songs %}
                    <li>{{ song_name }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% else %}
        <p>No uncategorized songs.</p>
    {% endif %}
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
